@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Poppins:wght@300;500;700&display=swap");

:root {
  /* colors */
  --bg-clr: #0e2440;
  --bg-clr-blur: #0e2440d3;
  --bg-clr-alt: #172a42;
  --scroll-clr: #8892b0;
  --theme1: #fe7387;
  --theme2: #7791ff;
  --white: #f0f2f4;

  /* typography */
  --mono-font: "IBM Plex Mono", monospace;
  --normal-font: "Poppins", sans-serif;
  --font-w-300: 300;
  --font-w-400: 400;
  --font-w-500: 500;
  --font-w-600: 600;
  --font-w-700: 700;

  --font-s: 0.8rem;
  --font-n: 1rem;
  --font-m: 1.5rem;
  --font-l: 2rem;
  --font-xl: 2.5rem;

  /* images */
  --icon-size: 1.25rem;
  --logo-size: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
  font-family: var(--normal-font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--scroll-clr);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  width: 5px;
}
